@import '../../index';

.milkdown-editor {
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: $arbora-green-soft;
  color: $arbora-green-hard;
  padding: 1rem;

  overflow: hidden;

  $heading-levels: 6;

  @function repeat($str, $n) {
    $result: '';
    @for $_ from 1 through $n {
      $result: $result + $str;
    }
    @return $result;
  }

  @for $i from 1 through $heading-levels {
    h#{$i} {
      margin-left: $i * 10px;

      position: relative;

      //$padding: 0.1em + $i * 0.75em; // Increase padding based on heading level
      padding-left: 2em;

      font-weight: 1000 - $i * 75; // Increase font weight based on heading level
      font-size: 2em - ($i - 1) * 0.2em; // Decrease font size based on heading level

      margin-bottom: 4 + (6 - $i) * 2px; // Increase margin based on heading level
      margin-top: 4 + (6 - $i) * 2px; // Increase margin based on heading level

      // Apply margin to paragraphs after this heading
      + p,
      ~ p {
        margin-left: $i * 10px;
      }

      // Reset margin for paragraphs after a new heading
      @for $j from 1 through $heading-levels {
        + h#{$j} ~ p {
          margin-left: $j * 10px;
        }
      }

      &::before {
        //content: '#{repeat("#", $i)}';
        content: 'H#{$i} |';
        color: #aaa;
        position: absolute;
        left: 0;
        top: 0;
        //width: $padding; // Adjust width to match padding minus some space
        width: 2em;
        text-align: left; // Align the "#" to the right within its space
      }

      &:hover::before {
        color: #777;
      }

      .ai-button-container {
        opacity: 0;
        transition: opacity 0.3s;

        .header-ai-btn {
          path, line, circle {
            fill: $arbora-green-hard;
          }

          &:hover {
            path, line, circle {
              fill: $arbora-green-loud;
            }
          }
        }

        .ai-action-button-icon {
          path {
            fill: $arbora-green-loud;
          }
        }
      }

      &:hover .ai-button-container {
        opacity: 1;
      }
    }

    h1 {
      margin-top: 0;
    }
  }

  .active-header {
    text-decoration: underline;
    text-decoration-color: darkseagreen;
  }

  li {
    position: relative;
    margin-left: 2em;
  }

  em {
    font-style: italic;
    color: #777777;
  }

}

[data-milkdown-root = "true"] {
  width: 100%;
  min-height: 100%;
  background-color: $arbora-green-soft;
  border-radius: 10px;
}

.milkdown-wrapper {
  @include custom-scrollbar($arbora-green-soft, $arbora-green-hard);
}

// region ANIMATIONS

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// endregion
